[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project_slug }}"
version = "{{ version }}"
description = "{{ description }}"
authors = [
  { name="{{ author }}", email="{{ email }}" }
]
requires-python = ">=3.9"

dependencies = [
  "fastapi",
  "uvicorn[standard]",
  "pydantic",
  {% if include_database %}
  "sqlalchemy",
  "alembic",
    "asyncpg",
  {% endif %}
  {% if include_auth %}
  "passlib[bcrypt]",
  "python-jose[cryptography]",
  "email-validator",
  {% endif %}
  {% if include_celery %}
  "celery",
  "redis",
  {% endif %}
  {% if include_loguru %}
  "loguru",
  {% endif %}
]

[project.optional-dependencies]
dev = [
  "pytest",
  "httpx",
  "black",
  "isort",
]

[tool.setuptools.packages.find]
where = ["."]
exclude = ["tests*"]

[project.scripts]
{{ project_slug }} = "app.main:app"
